#projectlogo img {
    filter: invert(1);
    aspect-ratio: 1/1;
    height: 60px;
    margin: 5px;
}

.memdoc:not(:has(*)) {
    padding: 0;
}

.memdoc > .image {
    background: lightgray;
}

.memdoc:has(.image:only-child) {
    background: lightgray;
}