#projectlogo img {
    aspect-ratio: 1/1;
    height: 60px;
}

:is(#projectlogo, .image) img {
    margin: 5px;
}

:is(#projectlogo, .inverted .image) img {
    mix-blend-mode: difference;
}

.image {
    display: inline-block;
}